[Desktop Entry]
Name=SoftmakerOffice
Comment=Use SoftmakerOffice to edit documents.
Exec=AppRun %U
GenericName=SoftmakerOffice
MimeType=application/x-tmdx;application/x-tmvx;application/x-tmd;application/x-tmv;application/msword;application/vnd.ms-word;application/x-doc;text/rtf;application/rtf;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.stardivision.writer;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.document.macroenabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.ms-word.template.macroenabled.12;application/x-pocket-word;application/x-dbf;application/msword-template;
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;WordProcessor;Spreadsheet;Presentation;
X-KDE-SubstituteUID=false
Icon=softmakeroffice
InitialPreference=3
StartupWMClass=SoftmakerOffice

Actions=Writer;Spreadsheets;Presentation;


[Desktop Action Writer]
Name=SoftmakerOffice TextMaker
GenericName=Word Processor
Comment=The TextMaker word processor lets you work on any type of document.
Comment[de]=Die Textverarbeitung TextMaker ermöglicht es Ihnen, beliebige Arten von Dokumenten zu erstellen und zu bearbeiten.
Comment[ru]=TextMaker позволяет работать со всеми видами текстовых документов.
MimeType=application/x-tmdx;application/x-tmvx;application/x-tmd;application/x-tmv;application/msword;application/vnd.ms-word;application/x-doc;text/rtf;application/rtf;application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.stardivision.writer;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.document.macroenabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.ms-word.template.macroenabled.12;application/x-pocket-word;application/x-dbf;application/msword-template;
Categories=Office;WordProcessor;
Exec=AppRun --writer %U
StartupNotify=false
Icon=softmakeroffice

[Desktop Action Spreadsheets]
Name=SoftmakerOffice Spreadsheet
GenericName=FreeOffice Spreadsheet
Comment=PlanMaker lets you create all kinds of spreadsheets -- from simple ones to the most complex ones. Includes a high-caliber charting module.
Comment[de]=Mit PlanMaker können Sie alle Arten von Arbeitsblättern erstellen -- von ganz einfachen bis zu den komplexesten. Inklusive eines leistungsstarken Diagrammmoduls.
Comment[ru]=PlanMaker позволяет создавать все виды электронных таблиц, от простых до сложных. Включает в себя мощный модуль для составления диаграмм.
MimeType=application/x-pmd;application/x-pmdx;application/x-pmv;application/excel;application/x-excel;application/x-ms-excel;application/x-msexcel;application/x-sylk;application/x-xls;application/xls;application/vnd.ms-excel;application/vnd.stardivision.calc;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.sheet.macroenabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.template.macroEnabled.12;application/x-dif;text/spreadsheet;text/csv;application/x-prn;application/vnd.ms-excel.sheet.binary.macroenabled.12;
Exec=AppRun --spreadsheets %U
StartupNotify=false
Icon=softmakeroffice

[Desktop Action Presentation]
Name=SoftmakerOffice Presentations
GenericName=SoftmakerOffice Presentations
Comment=The Presentations software lets you design any kind of presentation - even including special effects, animations, and transitions.
Comment[de]=Presentations lässt Sie beliebige Präsentationen gestalten - mit Effekten, Animationen und Transitionen.
Comment[ru]=Presentations позволяет создавать все виды презентаций и добавлять в них специальные эффекты, анимацию и переходы.
MimeType=application/x-prdx;application/x-prvx;application/x-prsx;application/x-prd;application/x-prv;application/x-prs;application/ppt;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.presentation.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.ms-powerpoint.template.macroEnabled.12;application/vnd.ms-powerpoint.slideshow.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.slideshow;
Exec=AppRun --presentation %U
StartupNotify=false
Icon=softmakeroffice
